.footer {
   @include adaptiv-value("padding-top", 100, 20, 1);
   @include adaptiv-value("padding-bottom", 30, 20, 1);
   &__container {
      text-align: center;
   }

   &__logo {
      margin: 0 auto;
      @include adaptiv-value("margin-bottom", 30, 20, 1);
      max-width: 172px;
      img {
         max-width: 100%;
      }
      @extend .no-anim;
      transition: all 0.8s ease 0s;
      transform: translate(0px, 50%);
      &._animate {
         @extend .anim;
      }
   }

   &__copy {
      font-weight: 300;
      @extend .text_1;
      letter-spacing: 1.05px;
      text-transform: uppercase;
      color: $white;
      @extend .no-anim;
      transition: all 0.8s ease 0s;
      transform: translate(0px, 50%);
      &._animate {
         @extend .anim;
         opacity: 0.5;
      }
   }
}
