//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input {
    width: 100%;
    display: block;
    padding: rem(5) rem(15);
    border: rem(1) solid transparent;
    @extend %text_2;
    letter-spacing: rem(1.4);
    color: $dark;
    &:focus-visible {
        outline-offset: rem(-1);
        outline: white solid rem(1);
    }

    &._form-focus {
    }
    &._form-error {
        color: red;
    }
}
