.main {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    position: relative;
    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        position: relative;
        z-index: 5;
        min-width: 0;
        padding: 0px rem(80) 0px rem(40);
        @media (max-width: em(1440)) {
            padding: 0px rem(15);
        }
    }

    &__bg {
    }

    &__image-ibg {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.426517) 0%, #0f0f0f 100%);
        }
    }

    &__bg-text {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        @extend %text_bg;
        color: $white;

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
        .loaded & {
            visibility: visible;
            opacity: 0.07;
        }
        // ANIMATION ========================================================================================================================================================
    }
}

.main-content {
    &__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        @include adaptiveValue("padding-top", 40, 20);
        @include adaptiveValue("padding-bottom", 30, 20);
        text-align: right;
    }

    &__slider {
        @include adaptiveValue("margin-bottom", 40, 20);
        .slick-list {
            overflow: visible;
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(50%, 0px);
        transition: opacity 0.8s ease 0.8s, visibility 0.8s ease 0.8s, transform 0.8s ease 0.8s;
        // ANIMATION ========================================================================================================================================================
    }

    &__slide {
        cursor: grab;
        display: flex;
        flex-direction: column;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
        &.slick-active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__map-slider {
        position: absolute;
        width: rem(1062);
        top: rem(-770);
        right: rem(-62);
        z-index: 3;
        @media (min-width: $tablet) and (max-height: em(1024)) {
            top: rem(-820);
        }
        @media (max-width: $tablet) {
            transform: scale(0.85);
            right: rem(-140);
            top: rem(-700);
            @media (max-height: rem(820)) {
                top: rem(-780);
            }
        }

        @media (max-width: $mobile) {
            transform: scale(0.7);
            top: rem(-700);
            right: rem(-250);
            @media (max-height: em(700)) {
                top: rem(-720);
                transform: scale(0.6);
            }
        }
        @media (min-width: $mobileSmall) and (max-width: $mobile) and (max-height: em(650)), (max-width: em(450)) {
            display: none;
        }
        @media (max-width: em(600)) {
            transform: scale(0.6);
            top: rem(-650);
            right: rem(-300);
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s;
        // ANIMATION ========================================================================================================================================================
    }

    &__map {
        .path-west-shore,
        .path-north-shore,
        .path-south-shore,
        .path-east-shore {
            opacity: 0;
        }
        .dot-shore {
            width: 0;
            height: 0;
            transition: width 0.8s ease 0s, height 0.8s ease 0s;
        }
        .shore-name {
            opacity: 0;
            transition: opacity 0.8s ease 0s;
        }
        &.slick-active {
            .path-west-shore {
                opacity: 1;
                stroke-dashoffset: 600;
                stroke-dasharray: 600;
                animation: animwest 4s infinite ease 1s;
            }
            @keyframes animwest {
                to {
                    stroke-dashoffset: 0;
                }
            }
            .path-north-shore {
                opacity: 1;
                stroke-dashoffset: 1000;
                stroke-dasharray: 1000;
                animation: animnorth 4s infinite ease 1s;
            }
            @keyframes animnorth {
                to {
                    stroke-dashoffset: 0;
                }
            }
            .path-south-shore {
                opacity: 1;
                stroke-dashoffset: 900;
                stroke-dasharray: 900;
                animation: animsouth 4s infinite ease 1s;
            }
            @keyframes animsouth {
                to {
                    stroke-dashoffset: 0;
                }
            }
            .path-north-shore {
                opacity: 1;
                stroke-dashoffset: 1500;
                stroke-dasharray: 1500;
                animation: animnorth 4s infinite ease 1s;
            }
            @keyframes animnorth {
                to {
                    stroke-dashoffset: 0;
                }
            }
            .path-east-shore {
                opacity: 1;
                stroke-dashoffset: 700;
                stroke-dasharray: 700;
                animation: animeast 4s infinite ease 1s;
            }
            @keyframes animeast {
                to {
                    stroke-dashoffset: 0;
                }
            }
            .dot-shore {
                width: rem(13);
                height: rem(13);
            }
            .shore-name {
                opacity: 1;
                transition: opacity 0.8s ease 1s;
            }
        }
    }

    &__subtitle {
        @extend %text_3;
        letter-spacing: em(7.333);
        text-transform: uppercase;
        color: $white;
        opacity: 0.5;
        margin-bottom: rem(10);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        span {
            @extend %line;
            @include adaptiveValue("margin-right", 25, 15);
        }
    }

    &__title {
        @extend %title;
        color: $white;
        @include adaptiveValue("margin-bottom", 45, 20);
    }

    &__text {
        @extend %title;
        @include adaptiveValue("font-size", 40, 32);
        color: $white;
        @include adaptiveValue("margin-bottom", 20, 15);
    }

    &__more {
        font-size: rem(20);
        color: $white;
        display: inline-flex;
        justify-content: flex-end;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $blue;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        gap: rem(15);
    }

    &__scroll-down {
        color: $white;
        font-size: rem(24);
        animation: arrow 1.5s infinite ease;
        position: relative;
        bottom: 0;
        left: 0;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        @media (any-hover: hover) {
            &:hover {
                color: $blue;
            }
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(0px, 50%);
        transition: opacity 0.8s ease 0.8s, visibility 0.8s ease 0.8s, transform 0.8s ease 0.8s;
        // ANIMATION ========================================================================================================================================================
    }

    @keyframes arrow {
        0% {
            bottom: 0px;
        }
        50% {
            bottom: rem(10);
        }
        100% {
            bottom: 0px;
        }
    }

    &__pagination {
        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(0px, 100%);
        transition: opacity 0.8s ease 1.2s, visibility 0.8s ease 1.2s, transform 0.8s ease 1.2s;
        // ANIMATION ========================================================================================================================================================
    }

    &__pagination-top {
        display: flex;
        .slick-dots {
            @include adaptiveValue("gap", 40, 10, 1280, 767.98, 1);
            display: flex;
        }
        li {
            width: rem(200);
            position: relative;
            height: rem(6);
            background-color: $white;
            padding-bottom: rem(4);
            display: flex;
            justify-content: space-between;
            transition: all 0.8s ease 0s;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: rem(50);
                top: 0;
                left: 0;
                @media (max-width: $mobile) {
                    display: none;
                }
            }
            @media (max-width: $pc) {
                width: rem(150);
            }
            @media (max-width: $tablet) {
                width: rem(120);
            }
            @media (max-width: $mobile) {
                width: rem(60);
            }
            @media (max-width: $mobileSmall) {
                width: rem(20);
            }
            @media (any-hover: hover) {
                &:hover {
                    background-color: $blue;
                }
            }
        }
        .slick-active {
            background-color: $blue;
        }
    }

    &__pagination-bottom {
        @include adaptiveValue("gap", 40, 10, 1280, 767.98, 1);
        display: flex;
        margin-top: rem(6);
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__pagination-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 1 rem(200);
        @media (max-width: $pc) {
            flex: 0 1 rem(150);
        }
        @media (max-width: $tablet) {
            flex: 0 1 rem(120);
        }
    }

    &__number {
        font-weight: 800;
        line-height: math.div(34, 24);
        @include adaptiveValue("font-size", 24, 18);
        margin-right: rem(5);
    }

    &__name {
        @extend %text_2;
    }
}

//========================================================================================================================================================

.surf {
    position: relative;
    &__bg-test {
        position: absolute;
        @include adaptiveValue("top", 198, 40);
        @include adaptiveValue("left", -45, -0);
        @extend %text_bg;

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s;
        &._watcher-view {
            @extend %anim;
            opacity: 0.02;
        }
        // ANIMATION ========================================================================================================================================================
    }
    &__bg-icon {
        position: absolute;
        @include adaptiveValue("top", 222, 80);
        right: 0;
        color: $white;
        @include adaptiveValue("font-size", 350, 100, 1280, 479.98, 1);

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(50%, 0px) !important;
        transition: transform 0.8s ease 0.3s, opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s;
        &._watcher-view {
            @extend %anim;
            opacity: 0.02 !important;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__container {
    }

    &__top {
    }

    &__title {
        display: inline-flex;
        position: relative;
        @extend %title;
        @include adaptiveValue("margin-left", 165, 0);
        @media (max-width: $mobile) {
            margin-bottom: rem(20);
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            @include adaptiveValue("width", 80, 40);
            height: rem(1);
            background-color: $blue;
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(-50%, 0px);
        transition: transform 0.8s ease 0s, opacity 0.8s ease 0s, visibility 0.8s ease 0s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__sub-top {
        text-align: right;
        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(50%, 0px);
        transition: transform 0.8s ease 0.5s, opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__subtitle {
        @extend %text_3;
        letter-spacing: em(7.3);
        text-transform: uppercase;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: rem(8);
        span {
            @include adaptiveValue("margin-right", 25, 15);
            @extend %line;
            @media (max-width: $mobileSmall) {
                display: none;
            }
        }
    }

    &__location {
        @extend %title;
        @include adaptiveValue("font-size", 40, 32);
        span {
            font-weight: 200;
        }
    }

    &__body {
        position: relative;
        @media (max-width: em(1440)) {
            max-width: rem(900);
            margin: 0 auto;
        }
        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__map {
        position: relative;
        max-width: rem(1200);
        @media (max-width: em(1440)) {
            max-width: rem(900);
        }
        img {
            max-width: 100%;
        }
        span {
            position: absolute;
            top: 0;
            left: 0;
            font-size: rem(16);
            opacity: 0.3;
            color: $white;
            top: rem(270);
            left: 14%;
            @media (max-width: em(1440)) {
                top: rem(200);
                left: 15%;
            }
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__coordinates {
        position: absolute;
        top: rem(100);
        right: 0;
        @media (max-width: em(1440)) {
            display: none;
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(100%, 0px);
        transition: opacity 0.8s ease 0.8s, visibility 0.8s ease 0.8s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__slider {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        max-width: rem(1200);
        @media (max-width: em(1440)) {
            max-width: rem(900);
        }
        .slick-list {
            overflow: visible;
            margin: 0;
        }
        /* Лента слайдов */
        .slick-track {
            transform: translate3d(0, 0, 0) !important;
        }
        .slick-slide {
            margin: 0;
        }
    }

    &__item {
    }

    &__main-slider {
        padding-top: rem(30);
    }
    &__navigation {
        margin-top: rem(15);
        @media (max-width: $mobileSmall) {
            margin-top: rem(25);
        }
    }
}

.item-surf {
    position: absolute;
    max-width: rem(94);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    // ANIMATION ========================================================================================================================================================
    @extend %no-anim;
    transition: opacity 0.8s ease 0.6s, visibility 0.8s ease 0.6s;
    &._watcher-view {
        @extend %anim;
    }
    // ANIMATION ========================================================================================================================================================

    &_1 {
        top: rem(300);
        left: -4%;
        @media (max-width: em(1640,)) {
            .item-surf__body {
                transform: translate(rem(-20), 0%);
            }
        }
        @media (max-width: em(1440)) {
            top: rem(230);
        }
    }
    &_2 {
        top: rem(260);
        left: 8%;
        @media (max-width: em(1440)) {
            top: rem(200);
        }
    }
    &_3 {
        top: rem(280);
        left: 24%;
        @media (max-width: em(1440)) {
            top: rem(190);
        }
    }
    &_4 {
        top: rem(470);
        left: 29%;
        @media (max-width: em(1440)) {
            top: rem(360);
        }
    }
    &_5 {
        top: rem(180);
        left: 38.5%;
        @media (max-width: em(1440)) {
            top: rem(120);
            left: 39%;
        }
    }
    &_6 {
        top: rem(525);
        left: 47%;
        @media (max-width: em(1440)) {
            top: rem(390);
            left: 48%;
        }
    }
    &_7 {
        top: rem(365);
        left: 60%;
        @media (max-width: em(1440)) {
            top: rem(260);
            left: 62%;
        }
    }
    &_8 {
        top: rem(465);
        left: 82%;
        @media (max-width: em(1100)) {
            .item-surf__body {
                transform: translate(-80%, 0%);
            }
        }
        @media (max-width: em(1440)) {
            top: rem(360);
            left: 87%;
        }
    }

    &__body {
        position: absolute;
        bottom: rem(80);
        left: 50%;
        transform: translate(-50%, 0px);
        background: hsla(180, 3%, 6%, 0.7);
        border-radius: rem(6);
        padding: rem(28) rem(32) rem(32) rem(32);
        min-width: rem(284);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
        .slick-current & {
            opacity: 1;
            visibility: visible;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem(8);
        position: relative;
        color: $white;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $blue;
            }
        }
        &::before {
            content: "";
            width: rem(80);
            height: rem(1);
            background-color: $blue;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__title {
        font-weight: 800;
        font-size: rem(18);
        line-height: math.div(26, 18);
        padding-bottom: rem(5);
        color: inherit;
    }

    &__more {
        color: inherit;
        font-size: rem(14);
    }

    &__location {
        @include adaptiveValue("margin-bottom", 30, 20);
    }

    &__bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__icon {
        margin-bottom: rem(8);
        img {
            max-width: 100%;
        }
    }

    &__label {
        margin-bottom: rem(2);
        font-weight: 800;
        line-height: math.div(23, 16);
    }

    &__text {
        font-weight: 300;
        font-size: rem(10);
        line-height: math.div(12, 10);
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__drip {
        position: absolute;
        bottom: rem(36);
        left: 50%;
        transform: translate(-50%, 0px);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
        .slick-current & {
            opacity: 1;
            visibility: visible;
        }
    }

    &__circle {
        display: inline-flex;
        cursor: pointer;
    }
}

.surf-slider {
    .slick-list {
        overflow: visible;
        margin: 0px rem(40);
        @media (max-width: $tablet) {
            margin: 0px;
        }
    }
    &__slide {
        position: relative;
        height: rem(750);
        margin: 0px rem(-40);
        @media (max-width: $tablet) {
            margin: 0px;
        }
        &:nth-child(1) {
            transition: opacity 1s ease 0s, visibility 1s ease 0s, transform 1s ease 0s;
        }
        &:nth-child(2) {
            transition: opacity 1s ease 0.2s, visibility 1s ease 0.2s, transform 1s ease 0.2s;
        }
        &:nth-child(3) {
            transition: opacity 1s ease 0.4s, visibility 1s ease 0.4s, transform 1s ease 0.4s;
        }
        &:nth-child(4) {
            transition: opacity 1s ease 0.6s, visibility 1s ease 0.6s, transform 1s ease 0.6s;
        }
        &:nth-child(5) {
            transition: opacity 1s ease 0.8s, visibility 1s ease 0.8s, transform 1s ease 0.8s;
        }
        &:nth-child(6) {
            transition: opacity 1s ease 1s, visibility 1s ease 1s, transform 1s ease 1s;
        }
        @media (any-hover: hover) {
            &:hover {
                .surf-slider__image-ibg {
                    &::after {
                        opacity: 0.5 !important;
                    }
                }
                .surf-slider__btn {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        @media (min-width: em(1440)) {
            &:nth-child(4n + 2),
            &:nth-child(4n + 4) {
                min-width: rem(400);
            }
            min-width: rem(390);
        }
        @media (max-width: em(1440)) {
            @include adaptiveValue("height", 650, 490);
        }
        @media (min-width: $mobileSmall) {
            &:nth-child(4n + 1) {
                @include adaptiveValue("margin-top", 32, 20, 1280, 479.98, 1);
            }
            &:nth-child(4n + 3) {
                @include adaptiveValue("margin-top", 90, 40, 1280, 479.98, 1);
            }
        }
        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(50%, 0px);
        ._watcher-view & {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__content {
        position: relative;
        z-index: 2;
        @include adaptiveValue("padding-top", 72, 25);
        @include adaptiveValue("padding-left", 40, 15);
        @include adaptiveValue("padding-right", 40, 15);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width: $tablet) {
            @include adaptiveValue("padding-top", 50, 25);
            @include adaptiveValue("padding-left", 25, 15);
            @include adaptiveValue("padding-right", 25, 15);
        }
    }

    &__title {
        @extend %title_2;
        flex: 1 1 auto;
        max-width: 50%;
        a {
            color: $white;
            transition: color 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    color: $blue;
                }
            }
        }
    }

    &__place {
        position: absolute;
        width: 0;
        height: 0;
        white-space: nowrap;
        @include adaptiveValue("bottom", 85, 50);
        @include adaptiveValue("left", 40, 15);
        transform: rotate(-90deg);
        font-size: rem(18);
        line-height: math.div(22, 18);
        font-weight: 200;
        letter-spacing: rem(8);
        text-transform: uppercase;
        @media (max-width: $mobile) {
            bottom: rem(50);
        }
    }

    &__button {
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__btn {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s;
        .slick-current & {
            visibility: visible;
            opacity: 1;
        }
        @media (min-width: em(1680)) {
            display: flex;
            justify-content: center;
            margin: 0 !important ;
        }
        @media (min-width: $tablet) {
            margin-left: rem(5);
        }
        @media (max-width: em(800)) {
            .btn-bg {
                min-height: rem(60);
                span {
                    &::before {
                        margin: 0px rem(10);
                        font-size: rem(20);
                    }
                }
            }
        }
    }

    &__image-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #1c2121;
            opacity: 0.85;
            box-shadow: 0px rem(4) rem(4) rgba(0, 0, 0, 0.25);
            transition: opacity 0.3s ease 0s;
            .slick-current & {
                opacity: 0.5;
            }
        }
    }
}

//========================================================================================================================================================

.travel-sleep {
    position: relative;
    &__top {
        @include adaptiveValue("margin-bottom", 185, 30);
    }

    &__title {
        h2 {
            display: inline-flex;
            position: relative;
            @extend %title;
            @include adaptiveValue("margin-left", 165, 0);
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                @include adaptiveValue("width", 80, 40);
                height: rem(1);
                background-color: $blue;
            }
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(-5%, 0px);
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s, transform 0.8s ease 0.3s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__bg-text {
        position: absolute;
        @include adaptiveValue("top", 180, 40);
        @include adaptiveValue("left", -45, -0);
        @extend %text_bg;

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s;
        &._watcher-view {
            @extend %anim;
            opacity: 0.02;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__body {
        position: relative;
    }

    &__navigation {
        @include adaptiveValue("margin-top", 150, 120);
        position: absolute;
        width: 100%;
        height: rem(20);
        top: 0;
        left: 50%;
        .navigation__wrap {
            padding: 0 rem(15);
        }
        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(-50%, 0px);
        transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s, transform 0.8s ease 0.5s;
        &._watcher-view {
            @extend %anim;
            transform: translate(-50%, 0px);
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__slider {
        overflow: visible;
    }

    &__slide {
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
        &.slick-active {
            opacity: 1;
            visibility: visible;
        }
    }
    &__cocktail {
        position: absolute;
        right: 0;
        z-index: 5;
        bottom: rem(-250);
        @include adaptiveValue("max-width", 565, 300);
        img {
            max-width: 100%;
            @include adaptiveValue("width", 565, 300);
        }
        @media (max-width: $pc) {
            transform: translate(44%, 0px);
        }
        @media (max-width: $tablet) {
            transform: translate(44%, 0px) scale(0.8);
        }
        @media (max-width: $mobile) {
            display: none;
        }
        &_flower {
            bottom: rem(-40);
            @include adaptiveValue("max-width", 345, 200);
            img {
                max-width: 100%;
            }
            @media (max-width: $tablet) {
                bottom: rem(-80);
            }
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(100%, 0px);
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s, transform 0.8s ease 0s;
        &._watcher-view {
            @extend %anim;
            transform: translate(44%, 0px);
        }
        // ANIMATION ========================================================================================================================================================
    }
}

.slide-travel-sleep {
    &__top {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include adaptiveValue("margin-bottom", -180, 40);

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(5%, 0px);
        transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s, transform 0.8s ease 0.5s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__subtitle {
        @extend %text_3;
        letter-spacing: em(7.3);
        text-transform: uppercase;
        opacity: 0.5;
        display: flex;
        align-items: center;
        margin-bottom: rem(8);
        span {
            @include adaptiveValue("margin-right", 25, 15);
            @extend %line;
        }
    }

    &__title {
        @extend %title_2;
        span {
            font-weight: 200;
        }
        .slide-travel-sleep__company {
            @include adaptiveValue("margin-left", 25, 15);
            max-width: rem(52);
            img {
                transform: translate(0px, rem(-8));
                max-width: 100%;
            }
        }
        &_stars {
            display: flex;
            align-items: center;
        }
    }
    &__stars {
        display: flex;
        align-items: center;
        @include adaptiveValue("margin-left", 20, 10);
        span {
            margin: rem(-5) rem(-10) 0px rem(-10);
            img {
                max-width: 100%;
            }
        }
    }

    &__body {
        position: relative;
        display: flex;
    }

    &__image-shore {
        flex: 0 1 percent(1115, 1140);
        min-height: rem(780);
        @media (max-width: em(1440)) {
            flex: 0 1 rem(1115);
        }
        @media (max-width: $pc) {
            min-height: auto;
        }
        img {
            max-width: 100%;
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(-10%, 0px);
        transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s, transform 0.8s ease 0.5s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__image-plane {
        position: absolute;
        bottom: rem(-20);
        right: 0;
        display: inline-flex;
        transform: rotate(10deg);
        max-width: rem(750);
        @media (max-width: $pc) {
            max-width: rem(650);
            bottom: 0;
        }
        @media (max-width: $tablet) {
            max-width: rem(550);
        }
        @media (max-width: $mobile) {
            max-width: rem(400);
            bottom: rem(20);
        }
        @media (max-width: em(600)) {
            display: none;
        }
        img {
            max-width: 100%;
        }
        &_sleep {
            transform: rotate(0deg) translate(40%, 0px);
            @include adaptiveValue("max-width", 565, 300);
            bottom: 0;
            right: rem(-60);
            span {
                position: absolute;
                transform: rotate(-150deg);
                max-width: rem(146);
                bottom: rem(-70);
                right: rem(20);
            }
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: rotate(10deg) translate(100%, 0px);
        transition: opacity 0.8s ease 0.8s, visibility 0.8s ease 0.8s, transform 0.8s ease 0.8s;
        &._watcher-view {
            @extend %anim;
            transform: rotate(10deg) translate(0px, 0px);
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__bottom {
        position: relative;
        z-index: 2;
        @include adaptiveValue("margin-top", -100, 0);
        @include adaptiveValue("margin-bottom", 110, 10);
        .slide-travel-sleep__subtitle {
            span {
                margin-right: 0;
                @include adaptiveValue("margin-left", 25, 15);
            }
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(-5%, 0px);
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s, transform 0.8s ease 0.3s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__info {
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(20);
        @include adaptiveValue("margin-bottom", 190, 100, 1280, 767.98, 1);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
        }
    }

    &__column {
        position: relative;
        // ANIMATION ========================================================================================================================================================
        &._watcher-view {
            .slide-travel-sleep__label {
                opacity: 0.5;
                visibility: visible;
                @media (min-width: $tablet) {
                    transform: rotate(-90deg) translate(-40%, 0);
                }
                @media (max-width: $mobile) {
                    transform: translate(0px, 0px);
                }
            }
            .slide-travel-sleep__text {
                @extend %anim;
            }
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__label {
        position: absolute;
        left: -30%;
        text-align: right;
        font-size: rem(18);
        line-height: math.div(22, 18);
        letter-spacing: rem(8);
        text-transform: uppercase;
        width: rem(200);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s, transform 0.8s ease 0s;
        @media (max-width: $pc) {
            left: -32%;
        }
        @media (max-width: em(1100)) {
            left: -35%;
        }
        @media (min-width: $tablet) {
            top: rem(5);
            white-space: nowrap;
            transform: rotate(-90deg) translate(-100%, 0);
        }
        @media (max-width: $tablet) {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0px, 0px);
            width: auto;
            text-align: left;
            margin-bottom: rem(8);
        }
    }

    &__text {
        @extend %title_2;
        line-height: 90%;
        .slide-travel-sleep__pricing {
            font-weight: 400;
            display: flex;
            font-size: rem(14);
            line-height: math.div(36, 14);
            text-align: right;
            letter-spacing: em(5.25);
            opacity: 0.75;
            @media (min-width: $tablet) {
                @include adaptiveValue("margin-left", 70, 20, 1280, 991.98, 1);
            }
        }
        @media (min-width: $tablet) {
            @include adaptiveValue("padding-left", 40, 20);
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(0px, 100%);
        transition: opacity 0.8s ease 0.7s, visibility 0.8s ease 0.7s, transform 0.8s ease 0.7s;
        // ANIMATION ========================================================================================================================================================
    }

    &__quantity-wrapper {
        position: relative;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__quantity {
        background-color: transparent;
        @extend %title_2;
        line-height: 90%;
        color: $white;
        max-width: rem(45);
        @include adaptiveValue("max-height", 36, 24);
        border: none;
    }

    &__quantity-icon {
        position: absolute;
        bottom: rem(-25);
        height: rem(14);
        right: 0;
        transition: opacity 0.3s ease 0s;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        &:active {
            transform: scale(0.9);
        }
        &:first-child {
            right: rem(25);
            bottom: rem(-30);
        }
        img {
            max-width: rem(14);
        }
        @media (any-hover: hover) {
            &:hover {
                opacity: 0.5;
            }
        }
        @media (max-width: $mobile) {
            bottom: 50%;
            right: rem(-60);
            transform: translate(0px, 50%);
            &:active {
                transform: translate(0px, 50%) scale(0.9);
            }
            &:first-child {
                bottom: calc(50% - rem(5));
                right: rem(-30);
            }
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(0px, 50%);
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s, transform 0.8s ease 0s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }
}

//========================================================================================================================================================

.shop {
    position: relative;
    &__top {
        @include adaptiveValue("margin-bottom", 100, 40);
    }

    &__title {
        h2 {
            display: inline-flex;
            position: relative;
            @extend %title;
            @include adaptiveValue("margin-left", 165, 0);
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                @include adaptiveValue("width", 80, 40);
                height: rem(1);
                background-color: $blue;
            }
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(-5%, 0px);
        transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s, transform 0.8s ease 0.5s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__bg-text {
        position: absolute;
        @include adaptiveValue("top", 20, 40);
        @include adaptiveValue("left", -55, -0);
        @extend %text_bg;
        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(-5%, 0px);
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s, transform 0.8s ease 0.3s;
        &._watcher-view {
            @extend %anim;
            opacity: 0.02;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__body {
        position: relative;
    }

    &__slider {
        position: relative;
        z-index: 2;
        @media (min-width: em(600)) {
            margin-top: rem(-20);
        }
    }

    &__bg {
        position: absolute;
        top: rem(160);
        right: 0;
        max-width: percent(1055, 1440);
        @media (max-width: em(1440)) {
            width: rem(1055);
            max-width: none;
        }
        img {
            max-width: 100%;
        }
        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(10%, 0px);
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s, transform 0.8s ease 0s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }
}

.slider-shop {
    &__slide {
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        @media (max-width: em(600)) {
            justify-content: center;
        }
    }

    &__info {
        flex: 0 1 rem(480);
        padding-right: rem(20);
        @include adaptiveValue("margin-top", 155, 40);
        @media (max-width: $mobile) {
            flex: 0 1 40%;
        }
        @media (max-width: em(600)) {
            flex: 1 1 100%;
            padding-right: 0;
            margin-bottom: rem(40);
        }
    }

    &__subtitle {
        @extend %text_3;
        letter-spacing: em(7.3);
        text-transform: uppercase;
        opacity: 0.5;
        display: flex;
        align-items: center;
        margin-bottom: rem(8);
        span {
            @include adaptiveValue("margin-left", 25, 15);
            @extend %line;
        }
        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(-10%, 0px);
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s, transform 0.8s ease 0.3s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__title {
        display: inline-flex;
        @extend %title_2;
        line-height: 100%;
        @include adaptiveValue("margin-bottom", 50, 20);
        color: $white;
        transition: color 0.3s ease 0s, opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s, transform 0.8s ease 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $blue;
            }
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(-10%, 0px);
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s, transform 0.8s ease 0.3s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__stars {
        display: flex;
        align-items: center;
        margin-left: rem(-5);
        span {
            margin: rem(-5) rem(-10) 0px rem(-10);
            img {
                max-width: 100%;
            }
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(-10%, 0px);
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s, transform 0.8s ease 0.3s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__price {
        display: inline-flex;
        position: relative;
        @extend %title_2;
        @include adaptiveValue("font-size", 32, 28);
        line-height: 125%;
        @include adaptiveValue("margin-bottom", 65, 25);
        span {
            position: absolute;
            top: rem(-5);
            right: rem(-25);
            @include adaptiveValue("font-size", 18, 14);
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(-10%, 0px);
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s, transform 0.8s ease 0.3s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__button {
        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(-10%, 0px);
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s, transform 0.8s ease 0.3s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__btn {
    }

    &__product {
        position: relative;
        flex: 0 0 rem(228);
        @media (max-width: $mobile) {
            flex: 0 0 rem(200);
        }
        @media (max-width: em(600)) {
            flex: 0 0 rem(150);
        }
        &._watcher-view {
            .slider-shop__image {
                @extend %anim;
            }
            .slider-shop__product-info {
                @extend %anim;
            }
        }
    }

    &__image {
        max-width: rem(228);
        display: flex;
        justify-content: center;
        @media (max-width: $mobile) {
            max-width: rem(200);
        }
        @media (max-width: em(600)) {
            max-width: rem(150);
        }
        img {
            max-width: 100%;
        }

        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(0, 30%);
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s, transform 0.8s ease 0s;
        // ANIMATION ========================================================================================================================================================
    }

    &__product-info {
        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s;
        // ANIMATION ========================================================================================================================================================
    }

    &__extras {
        // ANIMATION ========================================================================================================================================================
        @extend %no-anim;
        transform: translate(50%, 0);
        transition: opacity 0.8s ease 0.8s, visibility 0.8s ease 0.8s, transform 0.8s ease 0.8s;
        &._watcher-view {
            @extend %anim;
        }
        // ANIMATION ========================================================================================================================================================
    }
}

.info-product {
    position: absolute;
    display: flex;
    align-items: center;
    @media (max-width: em(600)) {
        flex-direction: column;
    }
    &._active {
        .info-product__line {
            opacity: 0.5;
            visibility: visible;
        }
        .info-product__text {
            opacity: 1;
            visibility: visible;
        }
        .info-product__dot {
            &::after {
                height: 0;
            }
        }
    }
    &_1 {
        top: rem(200);
        left: 80%;
        @media (max-width: $tablet) {
            left: 55%;
        }
        @media (max-width: $mobile) {
            left: 0%;
        }
        @media (max-width: em(600)) {
            top: rem(120);
            left: 10%;
        }
    }

    &_2 {
        left: rem(-5);
        top: rem(300);
        @media (max-width: em(600)) {
            left: -60%;
            top: 50%;
        }
        @media (max-width: $mobileSmall) {
            left: 10%;
        }
    }

    &_3 {
        top: auto;
        left: auto;
        bottom: rem(60);
        right: 70%;
        .info-product__dot {
            margin-right: 0;
            margin-left: rem(8);
            @media (max-width: em(600)) {
                margin-left: 0;
            }
        }
        .info-product__line {
            margin-right: 0;
            @include adaptiveValue("margin-left", 25, 0, 1280, 600, 1);
        }

        @media (max-width: $tablet) {
            right: 20%;
        }

        @media (max-width: em(600)) {
            bottom: rem(120);
        }
        @media (max-width: $mobileSmall) {
            bottom: rem(50);
            right: 5%;
        }
    }

    &__dot {
        cursor: pointer;
        position: relative;
        border-radius: 50%;
        background-color: $white;
        width: rem(20);
        height: rem(20);
        flex: 0 0 rem(20);
        transition: all 0.3s ease 0s;
        @media (min-width: em(600)) {
            margin-right: rem(8);
        }
        &::before {
            content: "";
            width: rem(12);
            height: rem(2);
            background-color: $blue;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::after {
            content: "";
            width: rem(2);
            height: rem(12);
            background-color: $blue;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: height 0.3s ease 0s;
        }
    }

    &__line {
        @include adaptiveValue("width", 80, 40);
        height: rem(1);
        background-color: $white;
        @include adaptiveValue("margin-right", 25, 10);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
        @media (max-width: em(600)) {
            margin: rem(10) 0px;
        }
    }

    &__text {
        font-weight: 800;
        @include adaptiveValue("font-size", 24, 18);
        line-height: 100%;
        text-transform: uppercase;
        color: $white;
        width: rem(255);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
        @media (max-width: em(600)) {
            text-align: center;
            max-width: rem(200);
        }
    }
}

.extras-shop {
    align-self: flex-end;
    flex: 0 1 rem(345);
    margin-left: rem(135);
    @media (max-width: $pc) {
        margin-left: 0;
        flex: 0 1 rem(480);
        @include adaptiveValue("padding-left", 50, 20);
    }
    @media (max-width: em(850)) {
        padding-left: rem(20);
    }
    @media (max-width: $mobile) {
        padding-left: 0;
        flex: 1 1 100%;
    }

    &__title {
        @extend %title_2;
        @include adaptiveValue("font-size", 28, 20);
        line-height: 145%;
        @include adaptiveValue("margin-bottom", 30, 15);
        @media (max-width: em(850)) {
            text-align: right;
        }
        @media (max-width: $mobile) {
            text-align: left;
            @include adaptiveValue("margin-top", 60, 20);
        }
    }

    &__row {
        @media (min-width: em(850)) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(20);
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        @media (max-width: em(850)) {
            align-items: flex-end;
        }
        @media (max-width: $mobile) {
            align-items: center;
        }
        @media (any-hover: hover) {
            &:hover {
                .extras-shop__subtitle {
                    opacity: 1;
                }
            }
        }
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    &__image {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        max-width: rem(105);
        @include adaptiveValue("margin-bottom", 36, 20);
        img {
            max-width: 100%;
        }
    }

    &__subtitle {
        @extend %text_4;
        letter-spacing: rem(8);
        text-transform: uppercase;
        color: $white;
        opacity: 0.5;
        transition: opacity 0.3s ease 0s;
        @include adaptiveValue("margin-bottom", 16, 10);
    }

    &__price {
        @extend %text_4;
        font-weight: 800;
        text-transform: uppercase;
        color: $white;
    }
}
